@inject NavigationManager Navigation
@inject IScopedContainer ScpC
@inject IDataAccess db
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@page "/InpOynRec/{ppid:int}"

<h1 class="text-center">Oyuncu Edit @ScpC.UsrId</h1>

<div style="display:flex;justify-content:space-between;">
    <button disabled="@RO"
            @onclick="Save">
        ✅Kaydet
    </button>
    <button disabled="@RO"
            @onclick="Cancel" style="margin-right: 10px;">
        🚫Vazgeç
    </button>
</div>

@if (pp != null)
{
    <table class="table-edit">
        <tr>
            <td>Id</td>
            <td>@pp.PPId</td>
        </tr>
        <tr>
            <td>Kayıt Dönemi</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.GirDnm" />
            </td>
        </tr>
        <tr>
            <td>Giriş Rank</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.R0" />
            </td>
        </tr>
        <tr>
            <td>Ad</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="30"
                       @bind="pp.Ad" />
            </td>
        </tr>
        <tr>
            <td>Sex</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.Sex" />
            </td>
        </tr>
        <tr>
            <td>Doğum Yılı</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.DgmYil" />
            </td>
        </tr>
        <tr>
            <td>Tel</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="20"
                       @bind="pp.Tel" />
            </td>
        </tr>
        <tr>
            <td>eMail</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="30"
                       @bind="pp.Mail" />
            </td>
        </tr>
        <tr>
            <td>@pp.B1n</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.B1" />
            </td>
        </tr>
        <tr>
            <td>@pp.B2n</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.B2" />
            </td>
        </tr>
        <tr>
            <td>@pp.B3n</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.B3" />
            </td>
        </tr>
        <tr>
            <td>@pp.B4n</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.B4" />
            </td>
        </tr>
        <tr>
            <td>@pp.B5n</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.B5" />
            </td>
        </tr>
        <tr>
            <td>@pp.B6n</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.B6" />
            </td>
        </tr>
        <tr>
            <td>@pp.B7n</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.B7" />
            </td>
        </tr>
        <tr>
            <td>@pp.B8n</td>
            <td>
                <input readonly="@RO"
                       type="text"
                       size="5"
                       @bind="pp.B8" />
            </td>
        </tr>
        <tr>
            <td>Info</td>
            <td>
                <textarea readonly="@RO"
                          rows="4" cols="30"
                          @bind="pp.Info" />
            </td>
        </tr>
        <tr>
            <td>Belgeler</td>
            <td>@((MarkupString)pp.Belge)</td>
        </tr>
    </table>
}

@code {
    [Parameter] public int PPId { get; set; }
    private PP pp;
    private bool RO = false;
    [Parameter] public EventCallback OnSaved { get; set; }
    [Parameter] public EventCallback OnCancelled { get; set; }

    private void Cancel()
    {
        OnCancelled.InvokeAsync();
    }
    private void Save()
    {
        var ppm = new   // Sirasi onemli Procedure Input sirasiyla ayni olmali
        {
            PPId = pp.PPId,
            GirDnm = pp.GirDnm,
            R0 = pp.R0,
            Ad = pp.Ad,
            Sex = pp.Sex,
            DgmYil = pp.DgmYil,
            Tel = pp.Tel,
            Mail = pp.Mail,
            Info = pp.Info,
            B1 = pp.B1,
            B2 = pp.B2,
            B3 = pp.B3,
            B4 = pp.B4,
            B5 = pp.B5,
            B6 = pp.B6,
            B7 = pp.B7,
            B8 = pp.B8
        };
        db.SaveRec("IOR_MDF", ppm);
        OnSaved.InvokeAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        if (ScpC.IsAdm || ScpC.IsTnm)
            pp = db.LoadRec<PP, dynamic>("select * from IOR_SEL(@iPPId)", new { iPPId = PPId });
        else
            Navigation.NavigateTo("login");
        //pp = db.LoadRec<PP, dynamic>("select * from PP where PPId = @PPId", new { PPId = PPId });
    }

    private sealed class PP
    {
        public int PPId { get; set; }
        public int GirDnm { get; set; }
        public int R0 { get; set; }
        public string Ad { get; set; }
        public string Sex { get; set; }
        public int DgmYil { get; set; }
        public string Tel { get; set; }
        public string Mail { get; set; }
        public string Info { get; set; }

        public int B1 { get; set; } // ⚜kulüp üyeliği
        public int B2 { get; set; } // 🎗lisanslı oyuncu
        public int B3 { get; set; } // ⚔bodved lig katılım sayısı
        public int B4 { get; set; } // 🏆takım lig birinciliği
        public int B5 { get; set; } // 👑ferdi turnuva birinciliği
        public int B6 { get; set; } // 🏓antrenör belgesi
        public int B7 { get; set; } // ⚖hakem belgesi
        public int B8 { get; set; } // 🧢takım kaptan

        public string? Belge => Helper.Belge(B1, B2, B3, B4, B5, B6, B7, B8);

        public string B1n => Helper.B1n;
        public string B2n => Helper.B2n; 
        public string B3n => Helper.B3n; 
        public string B4n => Helper.B4n; 
        public string B5n => Helper.B5n; 
        public string B6n => Helper.B6n; 
        public string B7n => Helper.B7n; 
        public string B8n => Helper.B8n; 

        // public string? B1s => B1 == 0 ? "" : $"⚜️{(B1 == 1 ? "" : "<sub>" + B1 + "</sub>")}";
        // public string? B2s => B2 == 0 ? "" : $"🎗️{(B2 == 1 ? "" : "<sub>" + B2 + "</sub>")}";
        // public string? B3s => B3 == 0 ? "" : $"⚔️{(B3 == 1 ? "" : "<sub>" + B3 + "</sub>")}";
        // public string? B4s => B4 == 0 ? "" : $"🏆{(B4 == 1 ? "" : "<sub>" + B4 + "</sub>")}";
        // public string? B5s => B5 == 0 ? "" : $"👑{(B5 == 1 ? "" : "<sub>" + B5 + "</sub>")}";
        // public string? B6s => B6 == 0 ? "" : $"🏓{(B6 == 1 ? "" : "<sub>" + B6 + "</sub>")}";
        // public string? B7s => B7 == 0 ? "" : $"⚖️{(B7 == 1 ? "" : "<sub>" + B7 + "</sub>")}";
        // public string? B8s => B8 == 0 ? "" : $"🧢{(B8 == 1 ? "" : "<sub>" + B8 + "</sub>")}";

        // public string? Belge2 => (B1s + B2s + B3s + B4s + B5s + B6s + B7s + B8s);

    }

}
