@inject IDataAccess db
@inject IAllUsrs AllUsrs
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@page "/InpTkm/{ccid:int}/{header}"

<h1>@Header Takımları</h1>
@if (ct != null)
{
    <div style="display:flex;justify-content:space-between;">
        <button disabled="@RO"
                @onclick="Insert">
            ➕Ekle
        </button>
        <div>
            @* <button disabled="@RO"
                    @onclick="Cancel" style="margin-right: 10px;">
                🚫İptal
            </button> *@
            <button disabled="@RO"
                    @onclick="Save">
                ✅Kaydet
            </button>
        </div>
    </div>
    <table class="table-edit">
        <thead>
            <tr style="background-color:skyblue !important">
                <th></th>
                <th>MF</th>
                <th>Sil</th>
                <th>Ad</th>
                <th></th>
                <th>Adres</th>
                <th>Konum</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in ct)
            {
                <tr>
                    <td>
                        <button disabled="@RO"
                                @onclick="() => Original(r)">
                            🔄
                        </button>
                    </td>
                    <td class="text-center">@r.MF</td>
                    <td>
                        <button disabled="@RO"
                                @onclick="() => Delete(r)">
                            ❌
                        </button>
                    </td>
                    <td>
                        <input readonly="@RO"
                               type="text"
                               style="width:100px"
                               @bind="r.Ad"
                               @bind:after='(() => CheckUpd(r))'>
                    </td>
                    @if (RO)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>
                            <a href="InpOynTkm/@r.CTId/@r.Ad">👥</a>
                        </td>
                    }
                    <td>
                        <input readonly="@RO"
                               type="text"
                               style="width:100px"
                               @bind="r.Adres"
                               @bind:after='(() => CheckUpd(r))'>
                    </td>
                    <td>
                        <input readonly="@RO"
                               type="text"
                               style="width:100px"
                               @bind="r.Konum"
                               @bind:after='(() => CheckUpd(r))'>
                    </td>
                    <td>
                        <input readonly="@RO"
                               type="text"
                               style="width:60px"
                               @bind="r.Mail"
                               @bind:after='(() => CheckUpd(r))'>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>...</div>
}


@code {
    [CascadingParameter] public required Usr Usr { get; set; }
    [Parameter] public int CCId { get; set; }
    [Parameter] public string Header { get; set; }

    private List<CT>? ct;
    private bool RO = false;

    private void Cancel()
    {
        // Dikkar varsa yaptiginiz tum degisiklikler yok sayilacaktir.
    }
    private void Save()
    {
        int mdfCount = 0;
        foreach (var r in ct)
        {
            if (r.MF != '=')
            {
                mdfCount++;
                var ct = new
                {
                    MF = r.MF,
                    CCId = CCId,
                    CTId = r.CTId,
                    Ad = r.Ad,
                    Adres = r.Adres,
                    Mail = r.Mail,
                    Konum = r.Konum,
                };

                var rs = db.SaveRec("IT_MDF", ct);
            }
        }
        if (mdfCount > 0)
            LoadData();

    }
    private void CheckUpd(CT r)
    {
        if (r.MF == '=' || r.MF == '~')
        {
            r.Ad = r.Ad.TrimEnd();
            r.Adres = r.Adres?.TrimEnd();
            r.MF = '=';
            if (r.oAd != r.Ad ||
                r.oAdres != r.Adres ||
                r.oMail != r.Mail ||
                r.oKonum != r.Konum)
                r.MF = '~';
        }
    }
    private void Original(CT r)
    {
        r.MF = r.oMF;
        r.Ad = r.oAd;
        r.Adres = r.oAdres;
        r.Mail = r.oMail;
        r.Konum = r.oKonum;
    }
    private void Delete(CT r)
    {
        if (r.MF == '+')
        {
            ct.Remove(r);
        }
        else
        {
            r.Ad = r.oAd;
            r.Adres = r.oAdres;
            r.Mail = r.oMail;
            r.Konum = r.oKonum;
            r.MF = '-';
        }
    }

    private void Insert()
    {
        CT ctn = new();
        ctn.MF = '+';   // Update '~' Delete '-' Insert '+' Select '='
        ctn.oMF = '+';

        ct.Add(ctn);
    }
    protected override async Task OnInitializedAsync()
    {
        RO = Usr.IsAdm || Usr.IsTnm ? false : true;
        LoadData();
    }

    private void LoadData()
    {
        ct = db.LoadData<CT, dynamic>("select * from IT_SEL(@CCId)", new { CCId = CCId }).ToList();

        foreach (var r in ct)
        {
            r.oAd = r.Ad;
            r.oAdres = r.Adres;
            r.oMail = r.Mail;
            r.oKonum = r.Konum;
        }
    }

    private sealed class CT
    {
        public char MF = '=';
        public int CTId { get; set; }
        public string Ad { get; set; }
        public string Adres { get; set; }
        public string Mail { get; set; }
        public string Konum { get; set; }

        public char oMF = '=';
        public string oAd { get; set; }
        public string oAdres { get; set; }
        public string oMail { get; set; }
        public string oKonum { get; set; }
    }


}
